---
import { actions } from 'astro:actions';
import './styles.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<form
			class="form"
			action={actions.passthrough}
			method="POST"
		>
			<div class="input-group">
				<label>Text</label>
				<input type="text" name="text" />
			</div>
			
			<div class="input-group">
				<label>Additional Text</label>
				<input type="text" name="additionalText" />
			</div>

			<button type="submit">Submit</button>
		</form>
	</body>
</html>
