
.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-group label {
  margin-bottom: 0.25rem;
}

input, button {
  padding: 0.5rem;
}
